In [4]:
import pandas as pd
csv_obj = pd.read_csv('nflx.csv',  encoding='utf-8-sig')
csv_obj

          Date    Open    High     Low   Close    Volume
0     8-Feb-17  143.57  145.07  142.56  144.74   6887050
1     7-Feb-17  141.49  144.28  141.05  144.00   8573515
2     6-Feb-17  140.00  141.00  139.16  140.97   3552066
3     3-Feb-17  139.51  140.64  139.10  140.25   3512568
4     2-Feb-17  140.61  141.04  139.05  139.20   3462370
5     1-Feb-17  141.20  142.41  139.30  140.78   6033422
6    31-Jan-17  140.55  141.83  139.70  140.71   4411631
7    30-Jan-17  141.77  141.97  138.80  141.22   8122481
8    27-Jan-17  139.46  142.49  139.00  142.45   8323866
9    26-Jan-17  140.45  141.21  138.51  138.96   6038313
10   25-Jan-17  140.80  141.39  139.05  139.52   7612888
11   24-Jan-17  138.11  140.93  137.03  140.11   7754673
12   23-Jan-17  138.65  139.49  137.31  137.39   7433896
13   20-Jan-17  139.36  140.79  137.66  138.60   9497394
14   19-Jan-17  142.01  143.46  138.25  138.41  23203441
15   18-Jan-17  133.21  133.65  131.06  133.26  16168617
16   17-Jan-17  135.04  135.40  132.09  132.89  12220202
17   13-Jan-17  131.15  133.93  130.58  133.70  10515015
18   12-Jan-17  130.63  130.85  128.50  129.18   5388880
19   11-Jan-17  130.91  131.50  129.25  130.50   5615061
20   10-Jan-17  131.27  132.22  129.29  129.89   5985809
21    9-Jan-17  131.48  131.99  129.89  130.95   5771835
22    6-Jan-17  132.08  133.88  129.81  131.07  10657878
23    5-Jan-17  129.22  132.75  128.90  131.81  10185516
24    4-Jan-17  127.49  130.17  126.55  129.41   7843559
25    3-Jan-17  124.96  128.19  124.31  127.49   9437856
26   30-Dec-16  126.24  126.57  123.60  123.80   4455351
27   29-Dec-16  125.95  126.14  124.20  125.33   3445056
28   28-Dec-16  129.07  129.07  125.76  125.89   4389162
29   27-Dec-16  126.24  129.05  125.70  128.35   5288164
..         ...     ...     ...     ...     ...       ...
221  24-Mar-16   98.64   98.85   97.07   98.36  10646907
222  23-Mar-16   99.75  100.39   98.81   99.59   8292315
223  22-Mar-16  100.48  101.52   99.20   99.84   9039475
224  21-Mar-16  101.15  102.10   99.50  101.06   9562862
225  18-Mar-16  100.50  102.41  100.01  101.12  15437295
226  17-Mar-16   99.05  101.39   99.00   99.72  13755028
227  16-Mar-16   97.53   99.73   97.50   99.35  12598569
228  15-Mar-16   97.87   98.51   96.43   97.86   9691768
229  14-Mar-16   97.20   99.42   97.17   98.13  11223226
230  11-Mar-16   99.51   99.60   96.05   97.66  15097852
231  10-Mar-16   98.18   99.74   95.45   97.36  16979357
232   9-Mar-16   96.82   98.37   95.00   98.00  12279463
233   8-Mar-16   95.00   98.28   94.50   96.23  14750241
234   7-Mar-16  101.00  101.79   95.25   95.49  23855151
235   4-Mar-16   98.76  102.22   98.32  101.58  23388393
236   3-Mar-16   97.83   98.35   95.39   97.93  15303552
237   2-Mar-16   98.01   99.48   95.90   97.61  19088404
238   1-Mar-16   94.58   99.16   93.61   98.30  16997749
239  29-Feb-16   94.81   97.20   93.34   93.41  13157071
240  26-Feb-16   95.30   97.48   94.25   94.79  16947865
241  25-Feb-16   91.08   94.81   90.21   94.53  17852939
242  24-Feb-16   88.50   91.76   86.70   91.61  15908434
243  23-Feb-16   91.40   92.49   89.05   89.12  12709044
244  22-Feb-16   90.75   93.11   88.30   91.93  16298806
245  19-Feb-16   89.98   91.40   88.03   89.23  14239479
246  18-Feb-16   94.80   94.90   90.31   90.49  17631232
247  17-Feb-16   90.13   94.77   89.64   94.76  18245146
248  16-Feb-16   89.00   90.14   87.54   89.05  16313155
249  12-Feb-16   86.64   89.72   85.26   87.40  19017611
250  11-Feb-16   87.42   88.39   82.91   86.35  21768153

[251 rows x 6 columns]

In [13]:
csv_obj["High"]

'0.18.1'

In [11]:

LABEL_COLUMN = "label"
csv_obj[LABEL_COLUMN] = (csv_obj["High"].apply(lambda x: '88.39' in x)).astype(int)

TypeError: argument of type 'float' is not iterable